<a href="https://colab.research.google.com/github/Aishwaryavundrajavarapu/Basic-ML/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HEY...

My name is AISHWARYA. I'm studing btech first year IT branch in VISHNU INSTITUTE OF TECHNOLOGY.

It's my first notebook.

here, we solve 3 simple python programs. 
so lets get started

1.Write a python program to add two numbers.

In [1]:
a=2
b=3
print(a+b)

5

so, from the above example we can learn how to two numbers in python.

2.Write a program to add two strings.

so lets try to add two strings from the above example. what do you think the output will be? lets see

In [3]:
a=hello
b=world
print(a+b)

NameError: ignored

we got an error although we did in right process. here is the thing in order to add two strings strings must be defined in apostrophe or single quotes or double quotes.Now lets try in correct string format.

In [4]:
a="hello"
b="world"
print(a+b)

helloworld

Now we got an output "helloworld". 

so we should enter strings in single or double quotes.

3.Write a program to multiply two numbers.

To multiply two numbers '*' operator is used.

 lets take a is 2 and b is 3 and run the program

In [5]:
a=2
b=3
print(a*b)

6

By multiplying 2 and 3 we got output 6.